body {
    background: lightgray;
}

.ProseMirror {
    background: white;
    padding: 0.5rem;
}

.comment {
    background-color: #ff8;
}

.currentComment {
    background-color: #fe0;
}

.commentList,
.commentText {
    display: block;
    padding: 0;
    margin: 0;
    font-style: normal;
}

.tooltip-wrapper {
    display: inline-block;
    position: relative;
    width: 0;
    overflow: visible;
    vertical-align: bottom;
}

.ProseMirror ul.commentList {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    width: 15em;
    position: absolute;
    top: calc(100% + 8px);
    left: -2em;
    font-size: 1rem;
    color: black;
    background: white;
    font-weight: normal;
    border: 1px solid #888;
    border-radius: 5px;
    z-index: 10;
    padding: 0;
}

ul.commentList::before {
    border: 5px solid #888;
    border-top-width: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -5px;
    left: calc(2em - 6px);
    content: ' ';
    height: 0;
    width: 0;
}

li.commentText {
    padding: 2px 20px 2px 5px;
    position: relative;
    pointer-events: auto;
    margin: 0;
}

li.commentText + li.commentText {
    border-top: 1px solid silver;
}

.commentDelete {
    position: absolute;
    right: 0;
    border: 0;
    font: inherit;
    display: inline;
    color: inherit;
    background: transparent;
    cursor: pointer;
}

.commentDelete:hover {
    color: #f88;
}
